<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlineJudge.mapper.TestsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.onlineJudge.entity.Tests">
        <id column="id" property="id" />
        <result column="user_id" property="user_id" />
        <result column="question_id" property="question_id" />
        <result column="submit_time" property="submit_time" />
        <result column="code" property="code" />
        <result column="correct_rate" property="correct_rate" />
        <result column="code_description" property="code_description" />
    </resultMap>

</mapper>
